<connectionStrings>
		<add name="EndoscopicEntities" connectionString="metadata=res://*/Entities.DBEndoscopic.csdl|res://*/Entities.DBEndoscopic.ssdl|res://*/Entities.DBEndoscopic.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MB2I0B7;initial catalog=EndoscopicDb;persist security info=True;user id=admin;password=!Admin@Nplink!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="dataSource" value="DESKTOP-MB2I0B7" />
		<add key="catalog" value="EndoscopicDb" />
		<add key="loginUser" value="admin" />
		<add key="loginPassword" value="!Admin@Nplink!" />
		<add key="pathSaveImageCapture" value="E:\\ImageCapture\\" />
		<add key="pathSavePdf" value="E:\\Pdf\\" />
		<add key="pathSaveVideo" value="E:\\VideoRecord\\" />
		<add key="pathSaveDicom" value="E:\\Dicom\\" />
		<add key="hostPACS" value="192.168.111.22" />
		<add key="portPACS" value="104" />
		<add key="sourcePACS" value="NPLINK1" />
		<add key="destinationPACS" value="PACSKLH" />
	</appSettings>